@tailwind base;
@tailwind components;
@tailwind utilities;

.apple-icon {
  width: 30px;
  height: 30px;
}

@layer {
  :root {
    --header-height: calc(var(--header-row-height) * 2);
    --header-row-height: 44px;
    --hero-height: calc(100svh - var(--header-height));
  }
}
